.otherDetails {
    padding: 80px 0px 0px 0px; 
}

.otherDetails ul {
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
    padding-left: 0;
}

.otherDetails li {
    padding: 0px 0px 0px 80px;
    width: 100%;
    border-left: 0.5px solid #7F8276;
    display: flex;
    align-items: center;
}

.otherDetails li:first-child {
    padding-left: 0;
    border: none;
}

.otherDetails li figure {
    margin-right: 10px;
    width: 55px;
    height: 55px;
    margin: 0 1rem 0px 0rem;
}

.otherDetails li label {
    display: block;
    font-size: 28px;
    color: #7F8276;
    font-weight: bold;
    line-height: 1em;
}

.otherDetails li span {
    color: #7F8276;
    font-size: 14px;
}

.otherDetails li img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1250px) {
    .otherDetails li {
        padding: 0px 0px 0px 50px;
    }
}

@media screen and (max-width:1210px) {
    .otherDetails li {
        padding: 0px 0px 0px 30px;
    }
}

@media screen and (max-width:991px) {
    .otherDetails li {
        padding: 0;
        flex-direction: column;
        border: none;
        text-align: center;
        width: 40%;

    }

    .otherDetails li figure {
        margin: 0px auto 13px;
    }

    .otherDetails ul {
        display: flex;
        align-items: center;
        margin-bottom: 0rem;
        padding-left: 0;
        flex-wrap: wrap;
        justify-content: center;
        gap: 26px;
    }
}

@media screen and (max-width:768px) {
    .otherDetails {
        overflow: auto;
    }

    .otherDetails li {
        padding: 0px 15px 0px 15px;
    }

    .otherDetails li label {
        white-space: nowrap;
    }

    .otherDetails li span {
        white-space: nowrap;
    }
}

@media screen and (max-width:540px) {
    .otherDetails ul {
        display: flex;
        align-items: center;
        margin-bottom: 0rem;
        padding-left: 0;
        flex-wrap: wrap;
        justify-content: center;
        gap: 26px;
    }

    .otherDetails li {
        padding: 0;
        flex-direction: column;
        border: none;
        text-align: center;
        width: 40%;
    }

    .otherDetails li figure {
        margin: 0px auto 10px;
        width: 50px;
        height: 50px;
    }

    .otherDetails li label {
        font-size: 22px;
    }

    .otherDetails li span {
        font-size: 12px;
    }

    .otherDetails li div {
        display: contents;
        line-height: normal;
    }
}