.faqs .accordion-item {
    margin-bottom: 10px;
}
.faqs .accordion-button:focus {
    box-shadow: none;
}
.faqs .accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #7f8276;
}
.faqs .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 8H14'/%3e%3c/svg%3e");
}
.faqs .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%237f8276' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M8 2V14M2 8H14'/%3e%3c/svg%3e");
}
.faqs .accordion-item:not(:first-of-type) {
    border: var(--bs-accordion-border-width) solid
        var(--bs-accordion-border-color);
}